<%= form_with(model: @user, local: true) do |form| %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, :placeholder => "First name" %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :last_name, :placeholder => "Last name" %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, :placeholder => "Email" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, :placeholder => "Password" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>