<p id="notice"><%= notice %></p>

<h1>User Lists</h1>
<%= link_to 'New User List', new_user_list_path, class: 'btn' %>

<table class="TFtable marginTop">
  <thead id="head">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Password</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @user_lists.each do |user_list| %>
      <tr>
        <td><%= user_list.firstname %></td>
        <td><%= user_list.lastname %></td>
        <td><%= user_list.email %></td>
        <td><%= user_list.password %></td>
        <td><%= link_to 'Show', user_list %></td>
        <td><%= link_to 'Edit', edit_user_list_path(user_list) %></td>
        <td><%= link_to 'Destroy', user_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

